<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">

<body>
<main class="row">
    <div class="btn btn-success" th:text="${message}"></div>
    <div class="block block-rounded block-fx-shadow">
        <div class="block-header block-header-default">
            <h3 class="block-title font-w600"><i class="fas fa-paper-plane fa-fw"></i> Gửi thông tin Liên hệ - Góp ý
            </h3>
        </div>
        <div class="block-content pb-20">
            <p class="text-muted">
                Góp ý hoặc liên hệ cho Web nếu bạn có nhu cầu về dịch vụ, quảng cáo hoặc những thắc mắc khác.
            </p>
            <form action="/email/feedback/succsess" id="contactForm" method="post" role="form"
                  novalidate="novalidate">
                <input name="__RequestVerificationToken" type="hidden"
                       value="scBzdLAa0chroKvC7k0CDnDuKyTmxbSmlmXZQwptxZfCwHfRkkEOINGjoM4wS2bkVN56n58cLmYW77tQgy3Nn_WHLJZIPJ7r-C8Hkopk-IpZivUsi-8mc3h3txnmtRveAMc0F_VHFzBQ4QD6eAAjGQ2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Họ tên:</label>
                            <input class="form-control form-control-lg" data-val="true"
                                   data-val-required="Vui lòng nhập Họ tên" id="Name" name="Name"
                                   placeholder="Tên của bạn" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Name"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="PhoneNumber">Điện thoại:</label>
                            <input class="form-control form-control-lg" data-val="true"
                                   data-val-length="Điện thoại không hợp lệ." data-val-length-max="13"
                                   data-val-length-min="10" data-val-phone="Điện thoại không hợp lệ."
                                   data-val-required="Vui lòng nhập Điện thoại" id="PhoneNumber" name="PhoneNumber"
                                   placeholder="Số điện thoại" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="PhoneNumber"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Subject">Tiêu đề:</label>
                            <input class="form-control form-control-lg" data-val="true"
                                   data-val-required="Vui lòng nhập Tiêu đề" id="Subject" name="Subject"
                                   placeholder="Tiêu đề" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Subject"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Message">Nội dung:</label>
                            <textarea class="form-control form-control-lg" cols="4" data-val="true"
                                      data-val-required="Vui lòng nhập Nội dung" id="Message" name="Message"
                                      placeholder="Nội dung" rows="4"></textarea>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Message"
                                  data-valmsg-replace="true"></span>
                        </div>
                        <div class="">

                            <div>
                                <div class="grecaptcha-badge" data-style="bottomright"
                                     style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                    <div class="grecaptcha-logo">
                                        <iframe title="reCAPTCHA"
                                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcjrlgUAAAAAFlUURyuaYP0jqpip5hAKD56uHNr&amp;co=aHR0cHM6Ly9ob3drdGVhbS52bjo0NDM.&amp;hl=vi&amp;v=3TZgZIog-UsaFDv31vC4L9R_&amp;size=invisible&amp;cb=bvd9125qhhpv"
                                                width="256" height="60" role="presentation" name="a-vo84m0gj2x4y"
                                                frameborder="0" scrolling="no"
                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div>
                                    <div class="grecaptcha-error"></div>
                                    <textarea id="g-recaptcha-response"
                                              name="g-recaptcha-response" class="g-recaptcha-response"
                                              style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div>
                                <iframe style="display: none;"></iframe>
                            </div>
                            <button
                                    class="g-recaptcha btn btn-primary btn-lg btn-block btn-noborder min-width-100">
                                <i class="fas fa-paper-plane fa-fw"></i> Gửi
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>

</html>